*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.hero{
    width:100%;
    height:100vh;
    background-image: url(background.png);
    background-size:cover;
    background-position: center;
    position:relative;
    overflow:hidden;
}
.logo{
    width:100px;
    cursor:pointer;
}
.navbar{
    width: 85%;
    height:15%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color:#fbfcfd;
    padding:10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor:pointer; 
}





/*
px -> the standard dynamic dimensions used
em -> relative to the parent size
rem -> realtive to font-size of root element
* the standard font-size is 16 px
vw -> Relative to 1% of the width of the viewport
vh -> Relative to 1% of the height of the viewport
vmin -> Relative to 1% of viewport's* smaller dimension
vmax -> Relative to 1% of viewport's* larger dimension
% -> Relative to the parent element

type attribute for button is "submit" "reset"
type attribute for input is all form contents

contain -> Resize the background image to make sure the image is fully visible
cover -> Resize the background image to cover the entire container,
even if it has to stretch the image or cut a little bit off one of the edges
*/